/* Общие стили меню */
.menu, .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
}

.menu {
    display: block;
    position: relative;
    height: 47px;
    width: 100%;
    background: #fff;
    top: 10px;
}

.menu ul>li {
    display: block;
    position: relative;
    float: left; /* горизонтально */
}

/* Ссылки меню */
.menu li>a {
    display: block;
    color: #000;
    padding: 16px;
    width: 130px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.5s ease;
}

.menu li:hover>a {
    background: #555;
    color: #fff;
}

/* Подменю */
.menu li ul.dropdown {
    position: absolute;
    top: 100%;  /* сразу под родителем */
    left: 0;
    background: #ccc;
    opacity: 0;         /* скрыто */
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Показываем подменю при наведении */
.menu li:hover>ul.dropdown {
    opacity: 1;
    pointer-events: auto;
}




/* Общие стили меню */
.menu, .menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1;
}

.menu {
    display: block;
    position: relative;
    height: 47px;
    width: 100%;
    background: #fff;
    top: 10px;
}

.menu ul>li {
    display: block;
    position: relative;
    float: left; /* горизонтально */
}

/* Ссылки меню */
.menu li>a {
    display: block;
    color: #000;
    padding: 16px;
    width: 130px;
    text-align: center;
    font-size: 15px;
    font-weight: 300;
    transition: all 0.5s ease;
}

.menu li:hover>a {
    background: #555;
    color: #fff;
}

/* Подменю */
.menu li ul.dropdown {
    position: absolute;
    top: 100%;  /* сразу под родителем */
    left: 0;
    background: #ccc;
    opacity: 0;         /* скрыто */
    pointer-events: none;
    transition: all 0.3s ease;
}

/* Показываем подменю при наведении */
.menu li:hover>ul.dropdown {
    opacity: 1;
    pointer-events: auto;
}




