header {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

footer{
    text-align: center;
    padding: 10px;
    background: #ddd;
    position: fixed;
    bottom: 0;
    left: 0;
}




div.flex-container {
    display: flex;
    flex-direction: row;
    /*margin-left: 2%; - это отсуп*/
}

div.flex-container > div {
    margin: 10px;
    flex: 1; /*veergu laius*/
    border: solid 1pt grey;
    border-radius: 10px;
    padding: 10px;
}

/*Laklulaator*/
#kalkulaator {
    text-align: center;
}
/*AJAFUNCTSIOONID.PHP STYLE CSS!!!!!!!!*/

 body {
     font-family: Arial, sans-serif;
     background-color: #f9f9f9;
     margin: 20px;
 }

h2 {
    text-align: center;
    color: #333;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 колонки сверху */
    grid-auto-rows: minmax(150px, auto);
    gap: 20px;
    margin-top: 20px;
}

.grid-container div {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.grid-container div h3 {
    margin-top: 0;
    color: #555;
}

@media (max-width: 1000px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr); /* на планшете 2 колонки */
    }
}

@media (max-width: 600px) {
    .grid-container {
        grid-template-columns: 1fr; /* на мобильных 1 колонка */
    }
}


/* TEXT FUNKTSIOONID !!!!!!!!!!!!!!!! STYLE CSS!!!!!!!!!!!!!!!!!!!!!!!*/
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 20px;
}

h2 {
    text-align: center;
    color: #333;
}

.grid-container2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 3 колонки сверху */
    grid-auto-rows: minmax(150px, auto);
    gap: 20px;
    margin-top: 20px;
}

.grid-container2 div {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.grid-container2 div h3 {
    margin-top: 0;
    color: #555;
}